Repository romanstetsyk/Stat-calc: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

.lintstagedrc.yml:

'*':
  - npm run lint:editorconfig
  - npm run lint:fs
  - bash -c "npm run lint:types" # Run with bash to avoid appending filenames to command

'*.{ts,tsx,json,md,html}':
  - prettier --check

'frontend/**/*.{ts,tsx}':
  - npm run lint:ts:generic -w frontend

'backend/**/*.ts':
  - npm run lint:ts:generic -w backend

feat(frontend): storage wrapper
  frontend/src/framework/storage/storage-base.package.ts
  frontend/src/framework/storage/storage.ts
  frontend/src/framework/storage/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(backend): update refresh token
  .ls-lint.yml
  backend/src/modules/tokens/token.entity.ts
  backend/src/modules/tokens/token.repository.ts
  backend/src/modules/tokens/token.service.ts
  backend/src/modules/tokens/tokens.ts
  backend/src/modules/tokens/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

test: token repository
  backend/src/modules/tokens/token.repository.test.ts
  backend/test/helpers/mongo-memory-server.ts
  package-lock.json
  package.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

test(frontend): token service
  .ls-lint.yml
  backend/src/modules/tokens/token.repository.test.ts
  backend/src/modules/tokens/token.service.test.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

feat: jwt error handler
  backend/src/middleware/error-converter/error-converter.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

feat: getTokenFromHeaders controller method
  backend/src/packages/controller/controller-base.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

feat: update error messages
  backend/src/common/constants/error-messages.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

feat(frontend): update HttpOptions in http package
  frontend/src/framework/http/http-base.package.ts
  frontend/src/framework/http/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor: move hasValue to shared
  backend/src/common/helpers/helpers.ts
  backend/src/common/helpers/type-guards.ts
  shared/src/helpers/type-guards/has-value.test.ts
  shared/src/helpers/type-guards/has-value.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

feat: isHttpCode
  .ls-lint.yml
  shared/src/helpers/type-guards/has-value.test.ts
  shared/src/helpers/type-guards/is-http-code.test.ts
  shared/src/helpers/type-guards/is-http-code.ts
  shared/src/helpers/type-guards/type-guards.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check

test: shared
  backend/tsconfig.json
  frontend/tsconfig.json
  shared/package.json
  shared/tsconfig.cjs.json
  shared/tsconfig.esm.json
  shared/tsconfig.json
  shared/vitest.config.ts
  vitest.workspace.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check

refactor: move common to shared folder
  backend/src/common/constants/api-paths.ts
  backend/src/common/constants/constants.ts
  backend/src/common/constants/exit-codes.ts
  backend/src/common/constants/http-methods.ts
  backend/src/common/types/types.ts
  backend/src/middleware/error-converter/error-converter.test.ts
  backend/src/middleware/error-converter/error-converter.ts
  backend/src/middleware/error-handler/error-handler.test.ts
  backend/src/middleware/error-handler/error-handler.ts
  backend/src/middleware/not-found-handler/not-found-handler.ts
  backend/src/modules/tokens/token.service.ts
  backend/src/modules/users/user.model.ts
  backend/src/packages/controller/types.ts
  backend/src/packages/token-util/constants.ts
  backend/src/packages/unexpected-error-handler/unexpected-error-handler.ts
  frontend/src/framework/http/types.ts
  shared/src/constants/constants.ts
  shared/src/constants/error-messages.ts
  shared/src/constants/http-codes.ts
  shared/src/frameworks/frameworks.ts
  shared/src/frameworks/http-error/http-error.package.test.ts
  shared/src/frameworks/http-error/http-error.package.ts
  shared/src/frameworks/http-error/http-error.ts
  shared/src/helpers/helpers.ts
  shared/src/index.ts
  shared/src/modules/auth/auth.ts
  shared/src/modules/auth/types.ts
  shared/src/types/error-common.ts
  shared/src/types/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

feat(frontend): react-query useMutation wrapper
  frontend/src/common/hooks/index.ts
  frontend/src/common/hooks/use-app-mutation.ts
  frontend/src/common/hooks/use-app-query.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): http & apiBase
  frontend/src/framework/api/api-base.ts
  frontend/src/framework/api/index.ts
  frontend/src/framework/http/http-base.package.ts
  frontend/src/framework/http/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(backend): update UserEntity and UserInfo
  backend/src/modules/users/types.ts
  backend/src/modules/users/user.controller.ts
  backend/src/modules/users/user.entity.ts
  backend/src/modules/users/user.repository.ts
  backend/src/modules/users/users.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

feat(backend): time convert constants
  backend/src/common/constants/constants.ts
  backend/src/common/constants/time-convert.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

fix(backend): path to shared folder
  backend/src/middleware/error-converter/error-converter.test.ts
  backend/src/middleware/error-converter/error-converter.ts
  backend/src/middleware/error-handler/error-handler.test.ts
  backend/src/middleware/error-handler/error-handler.ts
  backend/src/middleware/not-found-handler/not-found-handler.ts
  backend/src/modules/users/user.controller.ts
  backend/src/modules/users/user.model.ts
  backend/src/packages/controller/types.ts
  backend/src/packages/token-util/constants.ts
  backend/src/packages/unexpected-error-handler/unexpected-error-handler.ts
  backend/tsconfig.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

chore: configure eslint in shared folder
  .eslintrc.yml
  shared/.eslintrc.yml
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types"

feat: authentication
  backend/src/common/constants/api-paths.ts
  backend/src/common/constants/constants.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/auth.ts
  backend/src/modules/auth/types.ts
  backend/src/modules/auth/validation-schemas/sign-in.ts
  backend/src/modules/auth/validation-schemas/sign-up.ts
  backend/src/modules/users/user.controller.ts
  backend/src/modules/users/user.service.ts
  backend/src/modules/users/users.ts
  backend/src/packages/controller/controller-base.ts
  backend/src/packages/core/server-app.package.ts
  frontend/src/app.tsx
  frontend/src/components/nav-bar.tsx
  frontend/src/config/query-client.ts
  frontend/src/framework/api/api-base.ts
  frontend/src/main.tsx
  frontend/src/modules/auth/actions.ts
  frontend/src/modules/auth/auth-api.ts
  frontend/src/modules/auth/pages/sign-up.tsx
  frontend/src/pages/about.tsx
  shared/src/constants/api-paths.ts
  shared/src/constants/constants.ts
  shared/src/index.ts
  shared/src/modules/auth/auth.ts
  shared/src/modules/auth/constants.ts
  shared/src/modules/auth/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

refactor: current user cache time env variable
  backend/src/common/constants/constants.ts
  backend/src/modules/auth/auth.controller.ts
  frontend/.env.example
  frontend/src/config/config-base.package.ts
  frontend/src/modules/auth/actions.ts
  frontend/vite.config.ts
  shared/src/constants/constants.ts
  shared/src/constants/time-convert.ts
  shared/src/index.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

refactor: auth
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/types.ts
  backend/src/modules/tokens/token.repository.test.ts
  backend/src/modules/tokens/token.repository.ts
  backend/src/modules/tokens/token.service.test.ts
  backend/src/modules/tokens/token.service.ts
  backend/src/modules/users/types.ts
  backend/src/modules/users/user.entity.ts
  backend/src/modules/users/users.ts
  backend/src/packages/controller/controller-base.ts
  backend/src/packages/controller/types.ts
  frontend/src/app.tsx
  frontend/src/common/hooks/index.ts
  frontend/src/components/nav-bar.tsx
  frontend/src/framework/storage/index.ts
  frontend/src/modules/auth/actions.ts
  frontend/src/modules/auth/auth-api.ts
  frontend/src/modules/auth/hooks/index.ts
  frontend/src/modules/auth/hooks/use-current-user.ts
  frontend/src/modules/auth/hooks/use-sign-in.ts
  frontend/src/modules/auth/hooks/use-sign-out.ts
  frontend/src/modules/auth/hooks/use-sign-up.ts
  frontend/src/modules/auth/pages/sign-in.tsx
  frontend/src/pages/about.tsx
  shared/src/constants/http-codes.ts
  shared/src/index.ts
  shared/src/modules/auth/auth.ts
  shared/src/modules/auth/constants.ts
  shared/src/modules/auth/types.ts
  shared/src/modules/users/types.ts
  shared/src/modules/users/users.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

fix: authentication initial value
  frontend/src/modules/auth/hooks/use-current-user.ts
  frontend/src/modules/auth/hooks/use-sign-out.ts
  frontend/src/pages/about.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor: move headers and content type to shared folder
  backend/src/common/types/types.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/packages/controller/controller-base.ts
  backend/src/packages/controller/types.ts
  frontend/src/modules/auth/auth-api.ts
  shared/src/constants/constants.ts
  shared/src/constants/content-type.ts
  shared/src/constants/http-headers.ts
  shared/src/index.ts
  shared/src/modules/auth/auth.ts
  shared/src/modules/auth/constants.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

feat(frontend): logo as link
  frontend/src/common/components/logo/index.ts
  frontend/src/common/components/logo/logo.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor: app routes as constant
  frontend/src/common/constants/app-routes.ts
  frontend/src/common/constants/index.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(frontend): header
  frontend/src/common/components/header/components/desktop-nav-item.tsx
  frontend/src/common/components/header/components/desktop-nav.tsx
  frontend/src/common/components/header/components/desktop-sub-nav.tsx
  frontend/src/common/components/header/components/index.ts
  frontend/src/common/components/header/components/mobile-nav-item.tsx
  frontend/src/common/components/header/components/mobile-nav.tsx
  frontend/src/common/components/header/header.tsx
  frontend/src/common/components/header/index.ts
  frontend/src/common/components/header/nav-items.ts
  frontend/src/common/components/header/types.ts
  frontend/src/common/components/index.ts
  frontend/src/components/shared-layout.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(frontend): move routes to main, delete app.tsx
  frontend/src/app.tsx
  frontend/src/main.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(frontend): footer and social button
  frontend/src/common/components/footer/footer.tsx
  frontend/src/common/components/footer/index.ts
  frontend/src/common/components/index.ts
  frontend/src/common/components/social-button/index.ts
  frontend/src/common/components/social-button/social-button.tsx
  frontend/src/components/footer.tsx
  frontend/src/components/shared-layout.tsx
  frontend/src/pages/application.tsx
  frontend/src/pages/home.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

fix(frontend): app_route beginning slash
  frontend/src/common/constants/app-routes.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor: move validation schemas to shared directory
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/constants.ts
  backend/src/modules/auth/validation-schemas/components/email.ts
  backend/src/modules/auth/validation-schemas/components/name.ts
  backend/src/modules/auth/validation-schemas/components/password.ts
  shared/src/index.ts
  shared/src/modules/auth/auth.ts
  shared/src/modules/auth/constants.ts
  shared/src/modules/auth/validation-schemas/components/email.ts
  shared/src/modules/auth/validation-schemas/components/name.ts
  shared/src/modules/auth/validation-schemas/components/password.ts
  shared/src/modules/auth/validation-schemas/sign-in.ts
  shared/src/modules/auth/validation-schemas/sign-up.ts
  shared/src/modules/auth/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

feat(frontend): input-controlled generic component
  frontend/src/common/components/index.ts
  frontend/src/common/components/input-controlled/index.ts
  frontend/src/common/components/input-controlled/input-controlled.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat: sign-in form and page
  frontend/package.json
  frontend/src/common/hooks/index.ts
  frontend/src/main.tsx
  frontend/src/modules/auth/forms/default-values.ts
  frontend/src/modules/auth/forms/index.ts
  frontend/src/modules/auth/forms/sign-in-form.tsx
  frontend/src/modules/auth/hooks/use-sign-in.ts
  frontend/src/modules/auth/pages/sign-in-page.tsx
  frontend/src/modules/auth/pages/sign-in.tsx
  package-lock.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

chore: remove unused component - navbar
  frontend/src/components/nav-bar.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(frontend): useSignOut hook
  frontend/src/modules/auth/hooks/use-sign-out.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat: sign up page and useSignUp hook
  frontend/src/main.tsx
  frontend/src/modules/auth/forms/default-values.ts
  frontend/src/modules/auth/forms/index.ts
  frontend/src/modules/auth/forms/sign-up-form.tsx
  frontend/src/modules/auth/hooks/use-sign-up.ts
  frontend/src/modules/auth/pages/sign-up-page.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

chore(shared): change tsconfig to include vitest
  shared/tsconfig.cjs.json
  shared/tsconfig.esm.json
  shared/tsconfig.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check

chore: update dependencies
  backend/package.json
  backend/src/modules/tokens/token.repository.test.ts
  backend/src/modules/tokens/token.service.test.ts
  backend/test/helpers/mongo-memory-server.ts
  frontend/package.json
  frontend/src/features/frequency-distribution/calc-frequency.ts
  package-lock.json
  package.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

refactor: update react-query and refactor auth hooks
  frontend/package.json
  frontend/src/common/hooks/index.ts
  frontend/src/common/hooks/use-app-mutation.ts
  frontend/src/common/hooks/use-app-query.ts
  frontend/src/modules/auth/hooks/use-current-user.ts
  frontend/src/modules/auth/hooks/use-sign-in.ts
  frontend/src/modules/auth/hooks/use-sign-out.ts
  frontend/src/modules/auth/hooks/use-sign-up.ts
  frontend/src/modules/auth/pages/sign-in-page.tsx
  frontend/src/pages/about.tsx
  package-lock.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

chore: update node.js 18.17 -> 21.1
  .nvmrc
  backend/package.json
  frontend/package.json
  package-lock.json
  package.json
  shared/package.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check

chore: upgrade dependencies
  backend/package.json
  backend/src/packages/config/config-base.package.ts
  frontend/package.json
  package-lock.json
  package.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend
