Repository romanstetsyk/Stat-calc: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

.lintstagedrc.yml:

'*':
  - npm run lint:editorconfig
  - npm run lint:fs
    # Can't compile single file with -p flag (https://github.com/microsoft/TypeScript/issues/27379)
  - bash -c "npm run lint:types" # Run with bash to avoid appending filenames to command

'*.{ts,tsx,json,md,html}':
  - prettier --check

'frontend/**/*.{ts,tsx}':
  - npm run lint:ts:generic -w frontend

'backend/**/*.ts':
  - npm run lint:ts:generic -w backend

refactor(frontend): landing page
  frontend/index.html
  frontend/src/components/features.tsx
  frontend/src/components/hero.tsx
  frontend/src/pages/home.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(backend): rename dataset api endpoint
  backend/src/modules/datasets/dataset.controller.ts
  backend/src/modules/datasets/dataset.repository.ts
  backend/src/modules/datasets/dataset.service.ts
  backend/src/modules/datasets/validation-schemas/file-shema.ts
  backend/src/modules/datasets/validation-schemas/filename.ts
  backend/src/modules/datasets/validation-schemas/rename-schema.ts
  backend/src/modules/datasets/validation-schemas/validation-schemas.ts
  shared/src/constants/http-methods.ts
  shared/src/index.ts
  shared/src/modules/datasets/datasets.ts
  shared/src/modules/datasets/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

refactor(frontend): replace dataset id from nanoid to uuid
  frontend/src/modules/data-grid/store/grid-data.ts
  frontend/src/modules/datasets/components/load-dataset.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

fix(frontend): useUpload onSuccess effect
  frontend/src/modules/datasets/hooks/use-upload.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

chore: update xlsx
  frontend/package.json
  package-lock.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check

feat(frontend): create csv file from row data helper
  frontend/src/modules/datasets/helpers/create-dataset-file.ts
  frontend/src/modules/datasets/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat: save dataset to db
  backend/src/modules/datasets/dataset.controller.ts
  backend/src/modules/datasets/dataset.entity.ts
  backend/src/modules/datasets/dataset.model.ts
  backend/src/modules/datasets/dataset.repository.ts
  backend/src/modules/datasets/dataset.service.ts
  backend/src/modules/datasets/types.ts
  frontend/src/common/constants/mutation-key.ts
  frontend/src/modules/application/components/split-panes/split-panes.tsx
  frontend/src/modules/data-grid/config/index.ts
  frontend/src/modules/data-grid/store/grid-data.package.ts
  frontend/src/modules/data-grid/types/index.ts
  frontend/src/modules/datasets/api/dataset-api.ts
  frontend/src/modules/datasets/components/datasets-table-row.tsx
  frontend/src/modules/datasets/components/index.ts
  frontend/src/modules/datasets/components/load-dataset.tsx
  frontend/src/modules/datasets/components/save-dataset-btn.tsx
  frontend/src/modules/datasets/helpers/parse-workbook.ts
  frontend/src/modules/datasets/hooks/index.ts
  frontend/src/modules/datasets/hooks/use-update-dataset.ts
  frontend/src/modules/datasets/pages/dataset-page-wrapper.tsx
  shared/src/helpers/helpers.ts
  shared/src/helpers/parse-filename.ts
  shared/src/index.ts
  shared/src/modules/datasets/constants/api-paths-datasets.ts
  shared/src/modules/datasets/datasets.ts
  shared/src/modules/datasets/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

refactor(frontend): grid-data package
  frontend/src/modules/data-grid/store/grid-data.package.ts
  frontend/src/modules/data-grid/types/index.ts
  frontend/src/modules/datasets/helpers/parse-workbook.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(frontend): useDataGrid hook
  frontend/src/modules/application/features/descriptive-statistics/output.tsx
  frontend/src/modules/application/features/descriptive-statistics/stat-form.tsx
  frontend/src/modules/application/features/frequency-distribution/output.tsx
  frontend/src/modules/application/features/frequency-distribution/stat-form.tsx
  frontend/src/modules/application/features/group-numeric-data/output.tsx
  frontend/src/modules/application/features/group-numeric-data/stat-form.tsx
  frontend/src/modules/application/features/histogram/output.tsx
  frontend/src/modules/application/features/histogram/stat-form.tsx
  frontend/src/modules/application/features/one-sample-z-data/output.tsx
  frontend/src/modules/application/features/one-sample-z-data/stat-form.tsx
  frontend/src/modules/application/features/two-sample-z-data/output.tsx
  frontend/src/modules/application/features/two-sample-z-data/stat-form.tsx
  frontend/src/modules/data-grid/components/data-grid-title.tsx
  frontend/src/modules/data-grid/hooks/index.ts
  frontend/src/modules/data-grid/hooks/use-grid-data.ts
  frontend/src/modules/data-grid/store/grid-data.ts
  frontend/src/modules/data-grid/store/index.ts
  frontend/src/modules/datasets/components/load-dataset.tsx
  frontend/src/modules/datasets/components/save-dataset-btn.tsx
  frontend/src/modules/datasets/pages/dataset-page-wrapper.tsx
  frontend/src/modules/session/components/refresh-btn.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): useUndoRedo hook
  frontend/src/modules/data-grid/hooks/index.ts
  frontend/src/modules/data-grid/hooks/use-undo-redo.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(frontend): move functions from useUndoRedo hook to grid-data package
  frontend/src/modules/data-grid/components/data-grid.tsx
  frontend/src/modules/data-grid/hooks/use-undo-redo.ts
  frontend/src/modules/data-grid/store/grid-data.package.ts
  frontend/src/modules/data-grid/types/index.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

fix(frontend): save-dataset-btn disabled condition
  frontend/src/modules/datasets/components/save-dataset-btn.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(backend): displayName db field for a file
  backend/src/modules/datasets/dataset.controller.ts
  backend/src/modules/datasets/dataset.entity.ts
  backend/src/modules/datasets/dataset.model.ts
  backend/src/modules/datasets/dataset.repository.ts
  backend/src/modules/datasets/dataset.service.ts
  backend/src/modules/datasets/validation-schemas/file-shema.ts
  backend/src/modules/datasets/validation-schemas/rename-schema.ts
  backend/src/modules/datasets/validation-schemas/validation-schemas.ts
  shared/src/index.ts
  shared/src/modules/datasets/datasets.ts
  shared/src/modules/datasets/validation-schemas/filename-schema.ts
  shared/src/modules/datasets/validation-schemas/rename-schema.ts
  shared/src/modules/datasets/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

refactor(backend): use cors origin as env variable
  backend/.env.example
  backend/src/packages/config/config-base.package.ts
  backend/src/packages/config/types.ts
  backend/src/packages/config/validate-url-list.ts
  backend/src/packages/core/server-app.package.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

feat(frontend): add icon button component with tooltip
  frontend/src/common/components/icon-button-tooltip/icon-button-tooltip.tsx
  frontend/src/common/components/icon-button-tooltip/index.ts
  frontend/src/common/components/index.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): rename dataset
  frontend/src/common/constants/mutation-key.ts
  frontend/src/modules/data-grid/components/data-grid-title.tsx
  frontend/src/modules/data-grid/store/grid-data.package.ts
  frontend/src/modules/data-grid/types/index.ts
  frontend/src/modules/datasets/api/dataset-api.ts
  frontend/src/modules/datasets/components/datasets-table-row.tsx
  frontend/src/modules/datasets/hooks/index.ts
  frontend/src/modules/datasets/hooks/use-editable.ts
  frontend/src/modules/datasets/hooks/use-rename-dataset.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(frontend): action buttons to use icon-button-tooltip
  frontend/src/common/components/input-controlled-dropzone/delete-file.tsx
  frontend/src/common/components/input-controlled-dropzone/selected-file-list.tsx
  frontend/src/modules/application/components/arrow-button/arrow-button.tsx
  frontend/src/modules/application/components/open-modal-button/open-modal-button.tsx
  frontend/src/modules/datasets/components/delete-dataset-btn.tsx
  frontend/src/modules/datasets/components/download-dataset-btn.tsx
  frontend/src/modules/datasets/components/save-dataset-btn.tsx
  frontend/src/modules/session/components/refresh-btn.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): add rename operation in undo-redo
  frontend/src/modules/data-grid/store/grid-data.package.ts
  frontend/src/modules/data-grid/types/index.ts
  frontend/src/modules/datasets/components/save-dataset-btn.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

build(frontend): pages and modal lazy loading
  frontend/src/main.tsx
  frontend/src/modules/account/pages/account-page.tsx
  frontend/src/modules/account/pages/index.ts
  frontend/src/modules/application/components/application/index.ts
  frontend/src/modules/application/components/feature-menu/feature-menu.tsx
  frontend/src/modules/application/features/descriptive-statistics/stat-modal.tsx
  frontend/src/modules/application/features/frequency-distribution/stat-modal.tsx
  frontend/src/modules/application/features/group-numeric-data/stat-modal.tsx
  frontend/src/modules/application/features/histogram/stat-modal.tsx
  frontend/src/modules/application/features/one-sample-z-data/stat-modal.tsx
  frontend/src/modules/application/features/one-sample-z-summary/stat-modal.tsx
  frontend/src/modules/application/features/two-sample-z-data/stat-modal.tsx
  frontend/src/modules/application/features/two-sample-z-summary/stat-modal.tsx
  frontend/src/modules/application/pages/application-page.tsx
  frontend/src/modules/auth/pages/sign-in-page.tsx
  frontend/src/modules/auth/pages/sign-up-page.tsx
  frontend/src/modules/data-grid/components/data-grid.tsx
  frontend/src/modules/datasets/components/index.ts
  frontend/src/modules/datasets/components/load-dataset.tsx
  frontend/src/modules/datasets/hooks/use-download-dataset.ts
  frontend/src/modules/datasets/pages/dataset-wrapper-page.tsx
  frontend/src/modules/datasets/pages/datasets-page.tsx
  frontend/src/modules/datasets/pages/index.ts
  frontend/src/modules/profile/constants/profile-items.tsx
  frontend/src/modules/profile/pages/profile-page.tsx
  frontend/src/modules/session/components/update-btn.tsx
  frontend/src/pages/about.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(frontend): page header
  frontend/src/common/components/header/components/desktop-nav-link.tsx
  frontend/src/common/components/header/components/desktop-nav.tsx
  frontend/src/common/components/header/components/mobile-nav.tsx
  frontend/src/common/components/header/header.tsx
  frontend/src/common/components/header/nav-items.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

chore(eslint): allow default exports for pages and feature modals
  frontend/.eslintrc.yml
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types"

refactor(frontend): component tree structure
  frontend/src/common/components/features/features-list.ts
  frontend/src/common/components/features/features.tsx
  frontend/src/common/components/features/index.ts
  frontend/src/common/components/header/header.tsx
  frontend/src/common/components/hero/arrow-icon.tsx
  frontend/src/common/components/hero/hero.tsx
  frontend/src/common/components/hero/index.ts
  frontend/src/common/components/index.ts
  frontend/src/common/components/shared-layout/index.ts
  frontend/src/common/components/shared-layout/shared-layout.tsx
  frontend/src/common/hooks/index.ts
  frontend/src/components/features.tsx
  frontend/src/config/index.ts
  frontend/src/main.tsx
  frontend/src/modules/account/pages/account-page.tsx
  frontend/src/modules/application/components/feature-menu/feature-menu.tsx
  frontend/src/modules/application/components/split-panes/split-panes.tsx
  frontend/src/modules/application/features/descriptive-statistics/stat-modal.tsx
  frontend/src/modules/application/features/frequency-distribution/stat-modal.tsx
  frontend/src/modules/application/features/group-numeric-data/stat-modal.tsx
  frontend/src/modules/application/features/histogram/stat-modal.tsx
  frontend/src/modules/application/features/one-sample-z-data/stat-modal.tsx
  frontend/src/modules/application/features/one-sample-z-summary/stat-modal.tsx
  frontend/src/modules/application/features/two-sample-z-data/stat-modal.tsx
  frontend/src/modules/application/features/two-sample-z-summary/stat-modal.tsx
  frontend/src/modules/application/pages/application-page.tsx
  frontend/src/modules/auth/pages/sign-in-page.tsx
  frontend/src/modules/auth/pages/sign-up-page.tsx
  frontend/src/modules/data-grid/components/data-grid-title.tsx
  frontend/src/modules/data-grid/components/index.ts
  frontend/src/modules/datasets/components/index.ts
  frontend/src/modules/datasets/components/load-dataset.tsx
  frontend/src/modules/datasets/hooks/use-editable.ts
  frontend/src/modules/datasets/pages/dataset-wrapper-page.tsx
  frontend/src/modules/datasets/pages/datasets-page.tsx
  frontend/src/modules/pages/home-page.tsx
  frontend/src/modules/profile/pages/profile-page.tsx
  frontend/src/modules/session/components/index.ts
  frontend/src/pages/about.tsx
  frontend/src/pages/home.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

fix(frontend): useCurrentUser token not updated on rerender
  frontend/src/modules/auth/hooks/use-current-user.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor: split user name to first and last names
  backend/src/modules/users/user.entity.ts
  backend/src/modules/users/user.model.ts
  backend/src/modules/users/user.service.ts
  frontend/src/common/components/header/components/profile-menu.tsx
  frontend/src/common/components/header/header.tsx
  frontend/src/modules/account/pages/account-page.tsx
  frontend/src/modules/auth/forms/default-values.ts
  frontend/src/modules/auth/forms/sign-in-form.tsx
  frontend/src/modules/auth/forms/sign-up-form.tsx
  shared/src/modules/auth/types.ts
  shared/src/modules/auth/validation-schemas/sign-up.ts
  shared/src/modules/users/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

feat: repeat password field in sign up form
  backend/package.json
  backend/src/middleware/error-converter/helpers/handle-mongoose-errors.ts
  backend/src/modules/datasets/dataset.repository.ts
  backend/src/modules/users/user.model.ts
  frontend/package.json
  frontend/src/modules/auth/forms/default-values.ts
  frontend/src/modules/auth/forms/sign-in-form.tsx
  frontend/src/modules/auth/forms/sign-up-form.tsx
  frontend/src/modules/auth/pages/sign-up-page.tsx
  package-lock.json
  shared/src/modules/auth/constants.ts
  shared/src/modules/auth/types.ts
  shared/src/modules/auth/validation-schemas/components/name.ts
  shared/src/modules/auth/validation-schemas/components/repeat-password.ts
  shared/src/modules/auth/validation-schemas/sign-up.ts
  shared/src/modules/datasets/constants/dataset-validation-constants.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

fix(frontend): disable save button if user logged out
  frontend/src/modules/datasets/components/save-dataset-btn.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

fix(shared): import format
  shared/src/modules/auth/validation-schemas/components/repeat-password.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check

chore: add robots.txt
  frontend/public/robots.txt
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types"

build: add icons
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon-120x120.png
  frontend/public/apple-touch-icon-152x152.png
  frontend/public/apple-touch-icon-180x180.png
  frontend/public/apple-touch-icon-60x60.png
  frontend/public/apple-touch-icon-76x76.png
  frontend/public/apple-touch-icon.png
  frontend/public/browserconfig.xml
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/mstile-144x144.png
  frontend/public/mstile-150x150.png
  frontend/public/mstile-310x150.png
  frontend/public/mstile-310x310.png
  frontend/public/mstile-70x70.png
  frontend/public/safari-pinned-tab.svg
  frontend/public/site.webmanifest
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check

style: change color scheme
  frontend/src/common/components/features/features.tsx
  frontend/src/common/components/header/header.tsx
  frontend/src/common/components/hero/hero.tsx
  frontend/src/common/components/protected-route/protected-route.tsx
  frontend/src/common/components/shared-layout/shared-layout.tsx
  frontend/src/common/theme/light-theme.ts
  frontend/src/main.tsx
  frontend/src/modules/application/components/split-panes/split-panes.tsx
  frontend/src/modules/application/features/descriptive-statistics/content.tsx
  frontend/src/modules/application/features/frequency-distribution/content.tsx
  frontend/src/modules/application/features/group-numeric-data/content.tsx
  frontend/src/modules/application/features/histogram/content.tsx
  frontend/src/modules/application/features/one-sample-z-data/content.tsx
  frontend/src/modules/application/features/one-sample-z-summary/content.tsx
  frontend/src/modules/application/features/two-sample-z-data/content.tsx
  frontend/src/modules/application/features/two-sample-z-summary/content.tsx
  frontend/src/modules/application/pages/application-page.tsx
  frontend/src/modules/auth/forms/sign-in-form.tsx
  frontend/src/modules/auth/forms/sign-up-form.tsx
  frontend/src/modules/datasets/components/download-dataset-btn.tsx
  frontend/src/modules/datasets/pages/dataset-wrapper-page.tsx
  frontend/src/modules/profile/pages/profile-page.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

build: rename env variables
  backend/.env.example
  frontend/.env.example
  frontend/src/config/config-base.package.ts
  frontend/src/modules/auth/hooks/use-current-user.ts
  frontend/src/modules/datasets/hooks/use-find-all-datasets.ts
  frontend/vite.config.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): add onbeforeunload handler to warn about losing changes
  frontend/src/common/hooks/index.ts
  frontend/src/common/hooks/use-before-unload.tsx
  frontend/src/modules/data-grid/components/data-grid.tsx
  frontend/src/modules/session/components/session.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

chore(frontend): update react and react-router-dom versions
  frontend/package.json
  package-lock.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check
