Repository romanstetsyk/Stat-calc: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

.lintstagedrc.yml:

'*':
  - npm run lint:editorconfig
  - npm run lint:fs
    # Can't compile single file with -p flag (https://github.com/microsoft/TypeScript/issues/27379)
  - bash -c "npm run lint:types" # Run with bash to avoid appending filenames to command

'*.{ts,tsx,json,md,html}':
  - prettier --check

'frontend/**/*.{ts,tsx}':
  - npm run lint:ts:generic -w frontend

'backend/**/*.ts':
  - npm run lint:ts:generic -w backend

feat(backend): ability to add plugins/middleware to routes
  backend/package.json
  backend/src/packages/controller/controller-base.ts
  backend/src/packages/controller/types.ts
  backend/src/packages/core/server-app.package.ts
  package-lock.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

feat(frontend): profile page
  frontend/src/common/components/header/components/index.ts
  frontend/src/common/components/header/components/my-profile.tsx
  frontend/src/common/components/header/components/profile-menu.tsx
  frontend/src/common/components/header/header.tsx
  frontend/src/common/constants/app-routes.ts
  frontend/src/main.tsx
  frontend/src/modules/profile/constants/index.ts
  frontend/src/modules/profile/constants/profile-items.tsx
  frontend/src/modules/profile/constants/profile-routes.tsx
  frontend/src/modules/profile/pages/profile-page.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): account page
  frontend/src/modules/account/pages/account-page.tsx
  frontend/src/modules/profile/constants/profile-items.tsx
  frontend/src/modules/profile/pages/profile-page.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): file input field using dropzone
  frontend/package.json
  frontend/src/common/components/index.ts
  frontend/src/common/components/input-controlled-dropzone/delete-file.tsx
  frontend/src/common/components/input-controlled-dropzone/index.ts
  frontend/src/common/components/input-controlled-dropzone/input-controlled-dropzone.tsx
  package-lock.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

fix: redact sensitive fields in loggers
  backend/src/middleware/http-logger.ts
  backend/src/packages/logger/logger.package.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

fix: exclude file buffer data from logs
  backend/src/packages/logger/logger.package.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

refactor(backend): controller-base class and payload type
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/auth.ts
  backend/src/packages/controller/controller-base.ts
  backend/src/packages/controller/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

fix(frontend): reset file list in input-controlled-dropzone on submit
  frontend/src/common/components/input-controlled-dropzone/input-controlled-dropzone.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat: datasets module, file upload
  backend/src/middleware/file-upload/file-upload.ts
  backend/src/middleware/middleware.ts
  backend/src/modules/datasets/dataset.controller.ts
  backend/src/modules/datasets/dataset.entity.ts
  backend/src/modules/datasets/dataset.model.ts
  backend/src/modules/datasets/dataset.repository.ts
  backend/src/modules/datasets/dataset.service.ts
  backend/src/modules/datasets/datasets.ts
  backend/src/modules/datasets/validation-schemas/file-shema.ts
  backend/src/modules/datasets/validation-schemas/validation-schemas.ts
  backend/src/packages/core/server-app.ts
  frontend/src/common/constants/app-routes.ts
  frontend/src/common/constants/index.ts
  frontend/src/common/constants/profile-routes.tsx
  frontend/src/modules/account/pages/index.ts
  frontend/src/modules/datasets/api/dataset-api.ts
  frontend/src/modules/datasets/api/index.ts
  frontend/src/modules/datasets/forms/default-values.ts
  frontend/src/modules/datasets/forms/file-upload-form.tsx
  frontend/src/modules/datasets/forms/validation-schemas/custom-file-validators.ts
  frontend/src/modules/datasets/forms/validation-schemas/dataset-schema.ts
  frontend/src/modules/datasets/forms/validation-schemas/file-schema.ts
  frontend/src/modules/datasets/forms/validation-schemas/index.ts
  frontend/src/modules/datasets/hooks/index.ts
  frontend/src/modules/datasets/hooks/use-find-all-datasets.ts
  frontend/src/modules/datasets/hooks/use-upload.ts
  frontend/src/modules/datasets/pages/datasets-page.tsx
  frontend/src/modules/datasets/pages/index.ts
  frontend/src/modules/profile/constants/index.ts
  frontend/src/modules/profile/constants/profile-items.tsx
  shared/src/constants/api-paths.ts
  shared/src/constants/constants.ts
  shared/src/constants/filesizes.ts
  shared/src/index.ts
  shared/src/modules/datasets/constants/api-paths-datasets.ts
  shared/src/modules/datasets/constants/constants.ts
  shared/src/modules/datasets/constants/dataset-validation-constants.ts
  shared/src/modules/datasets/constants/upload-field-name.ts
  shared/src/modules/datasets/datasets.ts
  shared/src/modules/datasets/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

refactor(backend): remove unused deps in constructors
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/auth.ts
  backend/src/modules/datasets/dataset.controller.ts
  backend/src/modules/datasets/dataset.service.ts
  backend/src/modules/datasets/datasets.ts
  backend/src/modules/users/user.controller.ts
  backend/src/modules/users/user.service.ts
  backend/src/modules/users/users.ts
  backend/src/packages/controller/controller-base.ts
  backend/src/packages/controller/controller.ts
  backend/src/packages/core/server-app.package.ts
  backend/src/packages/core/server-app.ts
  shared/src/frameworks/http-error/http-error.package.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

fix(frontend): check uploaded files for uniqueness
  frontend/src/common/components/input-controlled-dropzone/input-controlled-dropzone.tsx
  frontend/src/modules/datasets/forms/validation-schemas/dataset-schema.ts
  frontend/src/modules/datasets/forms/validation-schemas/file-uniqueness-comparator.ts
  shared/src/modules/datasets/constants/dataset-validation-constants.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(frontend): api classes
  frontend/src/framework/api/api-base.ts
  frontend/src/framework/api/index.ts
  frontend/src/framework/api/types.ts
  frontend/src/modules/auth/api/auth-api.ts
  frontend/src/modules/datasets/api/dataset-api.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): protected route component
  frontend/src/common/components/index.ts
  frontend/src/common/components/protected-route/index.ts
  frontend/src/common/components/protected-route/protected-route.tsx
  frontend/src/common/constants/app-routes.ts
  frontend/src/common/constants/auth-routes.ts
  frontend/src/common/constants/profile-routes.ts
  frontend/src/main.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

fix(frontend): protected route loader
  frontend/src/common/components/protected-route/protected-route.tsx
  frontend/src/modules/auth/hooks/use-current-user.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): parse routes with url params
  frontend/src/framework/api/api-base.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(backend): controller-base types
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/users/types.ts
  backend/src/modules/users/user.controller.ts
  backend/src/packages/controller/controller-base.ts
  backend/src/packages/controller/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

feat: datasets delete route
  backend/src/modules/datasets/dataset.controller.ts
  backend/src/modules/datasets/dataset.entity.ts
  backend/src/modules/datasets/dataset.repository.ts
  backend/src/modules/datasets/dataset.service.ts
  backend/src/modules/datasets/types.ts
  frontend/src/modules/datasets/api/dataset-api.ts
  frontend/src/modules/datasets/components/dataset-list/dataset-list.tsx
  frontend/src/modules/datasets/components/dataset-list/index.ts
  frontend/src/modules/datasets/components/index.ts
  frontend/src/modules/datasets/forms/index.ts
  frontend/src/modules/datasets/helpers/bytes-to-kb.ts
  frontend/src/modules/datasets/helpers/index.ts
  frontend/src/modules/datasets/hooks/index.ts
  frontend/src/modules/datasets/hooks/use-delete-dataset.ts
  frontend/src/modules/datasets/hooks/use-find-all-datasets.ts
  frontend/src/modules/datasets/pages/datasets-page.tsx
  frontend/src/modules/profile/pages/profile-page.tsx
  shared/src/constants/http-methods.ts
  shared/src/index.ts
  shared/src/modules/datasets/constants/api-paths-datasets.ts
  shared/src/modules/datasets/datasets.ts
  shared/src/modules/datasets/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

feat(frontend): token-util to verify jwt exp claim
  frontend/package.json
  frontend/src/framework/token-util/index.ts
  frontend/src/framework/token-util/token-util-base.package.ts
  frontend/src/framework/token-util/types.ts
  package-lock.json
  shared/src/constants/error-messages.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

fix(frontend): react-query order of checks
  frontend/src/common/components/header/components/profile-menu.tsx
  frontend/src/modules/auth/hooks/use-sign-out.ts
  frontend/src/modules/datasets/hooks/use-find-all-datasets.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

fix(backend): auth unauthorized response status and message
  backend/src/middleware/error-converter/error-converter.ts
  backend/src/modules/auth/auth.service.ts
  shared/src/constants/error-messages.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

refactor(frontend): get user in profile-menu from props
  frontend/src/common/components/header/components/profile-menu.tsx
  frontend/src/common/components/header/header.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): request interceptors
  frontend/src/config/query-client.ts
  frontend/src/framework/api/api-base.ts
  frontend/src/framework/api/index.ts
  frontend/src/framework/api/types.ts
  frontend/src/modules/auth/api/auth-api.ts
  frontend/src/modules/auth/api/index.ts
  frontend/src/modules/auth/api/refresh-token-interceptor.ts
  frontend/src/modules/auth/hooks/use-current-user.ts
  frontend/src/modules/auth/hooks/use-sign-in.ts
  frontend/src/modules/auth/hooks/use-sign-out.ts
  frontend/src/modules/datasets/api/dataset-api.ts
  frontend/src/modules/datasets/api/index.ts
  frontend/src/modules/datasets/hooks/use-find-all-datasets.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(frontend): query and mutation key constants
  frontend/src/common/constants/index.ts
  frontend/src/common/constants/mutation-key.ts
  frontend/src/common/constants/query-key.ts
  frontend/src/modules/auth/hooks/use-current-user.ts
  frontend/src/modules/auth/hooks/use-sign-in.ts
  frontend/src/modules/auth/hooks/use-sign-out.ts
  frontend/src/modules/auth/hooks/use-sign-up.ts
  frontend/src/modules/datasets/hooks/use-delete-dataset.ts
  frontend/src/modules/datasets/hooks/use-find-all-datasets.ts
  frontend/src/modules/datasets/hooks/use-upload.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor(backend): error converter helper methods
  backend/src/common/constants/constants.ts
  backend/src/common/constants/internal-error-messages.ts
  backend/src/middleware/error-converter/helpers/handle-joi-errors.test.ts
  backend/src/middleware/error-converter/helpers/handle-joi-errors.ts
  backend/src/middleware/error-converter/helpers/handle-mongoose-errors.test.ts
  backend/src/middleware/error-converter/helpers/handle-mongoose-errors.ts
  backend/src/middleware/error-converter/helpers/handle-non-instanses-of-error.test.ts
  backend/src/middleware/error-converter/helpers/handle-non-instanses-of-error.ts
  backend/src/middleware/error-converter/helpers/handle-unknown-errors.test.ts
  backend/src/middleware/error-converter/helpers/handle-unknown-errors.ts
  backend/src/middleware/error-converter/helpers/helpers.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

fix(frontend): track and reuse refresh token requests
  frontend/src/modules/auth/api/refresh-token-interceptor.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(backend): send buffer as response
  backend/src/packages/controller/controller-base.ts
  backend/src/packages/controller/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

feat: datasets module
  backend/src/middleware/error-converter/error-converter.test.ts
  backend/src/middleware/error-converter/error-converter.ts
  backend/src/modules/datasets/dataset.controller.ts
  backend/src/modules/datasets/dataset.entity.ts
  backend/src/modules/datasets/dataset.repository.ts
  backend/src/modules/datasets/dataset.service.ts
  backend/src/modules/datasets/types.ts
  frontend/src/common/constants/profile-routes.ts
  frontend/src/common/constants/query-key.ts
  frontend/src/main.tsx
  frontend/src/modules/application/components/feature-menu/feature-menu.tsx
  frontend/src/modules/application/components/file-upload/index.ts
  frontend/src/modules/application/components/index.ts
  frontend/src/modules/application/components/split-panes/split-panes.tsx
  frontend/src/modules/data-grid/components/data-grid-title.tsx
  frontend/src/modules/data-grid/components/data-grid.tsx
  frontend/src/modules/data-grid/components/index.ts
  frontend/src/modules/data-grid/config/index.ts
  frontend/src/modules/data-grid/store/grid-data.package.ts
  frontend/src/modules/data-grid/store/grid-data.ts
  frontend/src/modules/data-grid/types/index.ts
  frontend/src/modules/datasets/api/dataset-api.ts
  frontend/src/modules/datasets/components/dataset-list/dataset-list.tsx
  frontend/src/modules/datasets/components/index.ts
  frontend/src/modules/datasets/components/load-dataset.tsx
  frontend/src/modules/datasets/helpers/classify-input.ts
  frontend/src/modules/datasets/helpers/get-filename-from-headers.ts
  frontend/src/modules/datasets/helpers/index.ts
  frontend/src/modules/datasets/helpers/parse-workbook.ts
  frontend/src/modules/datasets/hooks/index.ts
  frontend/src/modules/datasets/hooks/use-delete-dataset.ts
  frontend/src/modules/datasets/hooks/use-download-dataset.ts
  frontend/src/modules/datasets/pages/dataset-page-wrapper.tsx
  frontend/src/modules/datasets/pages/datasets-page.tsx
  frontend/src/modules/datasets/pages/index.ts
  frontend/src/modules/profile/pages/profile-page.tsx
  shared/src/index.ts
  shared/src/modules/datasets/datasets.ts
  shared/src/modules/datasets/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend, npm run lint:ts:generic -w backend

chore: configure ide
  .gitignore
  .ls-lint.yml
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types"

fix(frontend): unnecessary conditions
  frontend/src/common/components/protected-route/protected-route.tsx
  frontend/src/pages/about.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

chore: update eslint
  .eslintrc.yml
  frontend/src/modules/data-grid/components/data-grid.tsx
  package-lock.json
  package.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

chore: update dependencies
  backend/package.json
  backend/src/packages/config/config-base.package.ts
  backend/src/packages/core/server-app.package.ts
  frontend/package.json
  package-lock.json
  package.json
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w backend

refactor(frontend): datatablerow type
  frontend/src/modules/application/components/data-table/data-table.tsx
  frontend/src/modules/application/features/frequency-distribution/output-content.tsx
  frontend/src/modules/application/features/group-numeric-data/output-content.tsx
  frontend/src/modules/application/types/data-table-row.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

test: datatablerow type
  .ls-lint.yml
  frontend/src/modules/application/types/data-table-row.test-d.ts
  frontend/vitest.config.ts
  vitest.config.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

refactor: filesize formatting and validation
  frontend/src/common/helpers/format-file-size.ts
  frontend/src/common/helpers/index.ts
  frontend/src/modules/datasets/components/dataset-list/dataset-list.tsx
  frontend/src/modules/datasets/helpers/bytes-to-kb.ts
  frontend/src/modules/datasets/helpers/index.ts
  shared/src/constants/filesizes.ts
  shared/src/modules/datasets/constants/dataset-validation-constants.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

style(frontend): list of files selected for upload
  frontend/src/common/components/input-controlled-dropzone/delete-file.tsx
  frontend/src/common/components/input-controlled-dropzone/input-controlled-dropzone.tsx
  frontend/src/common/components/input-controlled-dropzone/selected-file-list.tsx
  frontend/src/common/components/input-controlled-dropzone/types.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

style(frontend): dataset table
  frontend/src/common/components/input-controlled-dropzone/input-controlled-dropzone.tsx
  frontend/src/modules/datasets/components/dataset-list/dataset-list.tsx
  frontend/src/modules/datasets/components/dataset-list/index.ts
  frontend/src/modules/datasets/components/datasets-table-row.tsx
  frontend/src/modules/datasets/components/datasets-table.tsx
  frontend/src/modules/datasets/components/delete-dataset-btn.tsx
  frontend/src/modules/datasets/components/empty-table-alert.tsx
  frontend/src/modules/datasets/components/index.ts
  frontend/src/modules/datasets/forms/file-upload-form.tsx
  frontend/src/modules/datasets/pages/datasets-page.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): download files
  frontend/src/modules/datasets/api/dataset-api.ts
  frontend/src/modules/datasets/components/datasets-table-row.tsx
  frontend/src/modules/datasets/components/datasets-table.tsx
  frontend/src/modules/datasets/components/download-dataset-btn.tsx
  frontend/src/modules/datasets/hooks/index.ts
  frontend/src/modules/datasets/hooks/use-download-dataset.ts
  frontend/src/modules/datasets/hooks/use-open-dataset.ts
  frontend/src/modules/datasets/pages/dataset-page-wrapper.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): download progress
  frontend/src/modules/datasets/api/dataset-api.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

feat(frontend): download datasets as files
  frontend/src/modules/datasets/components/datasets-table-row.tsx
  frontend/src/modules/datasets/components/datasets-table.tsx
  frontend/src/modules/datasets/components/download-dataset-btn.tsx
  frontend/src/modules/datasets/hooks/use-download-dataset.ts
  frontend/src/modules/datasets/hooks/use-open-dataset.ts
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend

style: extend theme
  frontend/src/common/components/header/components/desktop-nav-item.tsx
  frontend/src/common/components/header/components/desktop-nav-link.tsx
  frontend/src/common/components/header/components/mobile-nav-item.tsx
  frontend/src/common/components/header/components/mobile-nav.tsx
  frontend/src/common/components/header/components/profile-menu.tsx
  frontend/src/common/components/header/header.tsx
  frontend/src/common/components/logo/logo.tsx
  frontend/src/common/theme/light-theme.ts
  frontend/src/common/theme/theme.ts
  frontend/src/modules/auth/forms/sign-in-form.tsx
  frontend/src/modules/auth/forms/sign-up-form.tsx
  frontend/src/modules/auth/pages/sign-in-page.tsx
  frontend/src/modules/auth/pages/sign-up-page.tsx
Due: npm run lint:editorconfig, npm run lint:fs, bash -c "npm run lint:types", prettier --check, npm run lint:ts:generic -w frontend
